.form-container {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
  max-width: 370px;
  align-items: center;
  background: #fff;
  padding-top: 100px;
  margin: auto;
  margin-top: -70px;
}

.form-input {
  width: 100%;
}

.form-div {
  padding-bottom: 10px;
}

.form-label {
  text-align: left;
  font-size: x-small;
}

.form-button {
  margin-top: 10px;
  width: 100%;
  color: #fff;
  background-color: blue;
  border: blue;
  height: 30px;
}
